@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Rubik', sans-serif;
}

:root {
  --body: #0E1323;
  --profile: #1c204b;
  --jeremy: #5747ea;
  --jeremy-span: #BBC0FF;
  --button: #7078c9;
  --card-content: #1c204b;
  --hover-color: #33397A;
  --card-content-i: #BBC0FF;
  --work-background: #FF8B64;
  --play-background: #55C2E6;
  --study-background: #FF5E7D;
  --exercise-background: #4BCF82;
  --social-background: #7335D2;
  --self-care-background: #F1C75B;
  --white: #FFF;
}

body {
  background: var(--body);
  display: grid;
  place-items: center;
  height: 100vh;
}

.container {
  display: flex;
}

.profile {
  background-color: var(--profile);
  height: 32.375rem;
  width: 15.9375rem;
  border-radius: 0.9rem;
}

.jeremy {
  background: var(--jeremy);
  height: 22.2rem;
  border-radius: 0.9rem;
  padding: 2rem;
}

.jeremy-img {
  height: 90px;
  width: 90px;
}

#user {
  width: 100%;
  height: 100%;
  border: 4px solid var(--white);
  border-radius: 50%;
  object-fit: cover;
}

.jeremy h2 {
  color: var(--white);
  font-size: 2.5rem;
  font-weight: 300;
  padding-top: 2rem;
}

.jeremy span {
  color:var(--jeremy-span);
  font-size: 0.9375rem;
  font-weight: 400;
}

.jcard-content {
  padding: 2rem;

}

button {
  display: block;
  border: none;
  color: var(--button);
  background: none;
  font-size: 1.1rem;
  cursor: pointer;
}

#weekly {
  padding: 1rem 0;
  color: var(--white);
}

button:hover {
  color: var(--white);
}

.toggle-button.active {
  color: var(--white);
}

.card-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  margin-left: 1rem;
  gap: 1.5rem;
}

.card {
  background-color: var(--work-background);
  width: 16rem;
  height: 8rem;
  border-radius: 0.9rem;
  background-image: url(/images/icon-work.svg);
  background-repeat: no-repeat;
  background-position: 10rem -1rem;
}

.card-content {
  padding: 2rem;
  background-color: var(--card-content);
  height: 13rem;
  border-radius: 0.9rem;
  margin-top: 2.5rem;
  color: var(--white);
}
.card-content:hover{
  background: var(--hover-color);
}
.content-wrapper{
  display: inline-flex;
  padding-bottom: 0px;
  justify-content: center;
  align-items: center;
  gap: 8.1875rem;
}
.card-content span {
  font-size: 1.125rem;
  font-weight: 500;
}
.card-content i{
  width: 1rem;
  height: 0.3125rem;
  color: var(--card-content-i);
  cursor: pointer; 
}
.card-content i:hover{
  color:var(--white);
}
.hours{
  margin-top: 2rem;
}
.hours h1{
  font-size: 3.5rem;
  font-weight: 300;
}
.hours p{
  padding-top: 1rem;
}

.card:nth-child(2) {
  background: var(--play-background) url(/images/icon-play.svg) no-repeat 10rem -1rem;
}

.card:nth-child(3) {
  background: var(--study-background) url(/images/icon-study.svg) no-repeat 10rem -1rem;
}

.card:nth-child(4) {
  background: var(--exercise-background) url(/images/icon-exercise.svg) no-repeat 10rem -0.5rem;
}

.card:nth-child(5) {
  background: var(--social-background) url(/images/icon-social.svg)no-repeat 10rem -1rem;
}

.card:nth-child(6) {
  background: var(--self-care-background) url(/images/icon-self-care.svg)no-repeat 10rem -1rem;
}

/* --------phone------- */

@media (max-width: 767px) and (min-width: 375px) {
  /* .container {
      width: 20.4375rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      gap: 0.25rem;
      
    }
    .profile{
      width: 20.4375rem;
      height: 12.6875rem;
      flex-shrink: 0;
    }

    .jeremy{
    width: 20.4375rem;
    height: 8.3125rem;
    flex-shrink: 0;
    } 
      
      .jeremy h2{
        padding-top: 1rem;
        display: inline;
        white-space:nowrap;
        
    }

    .jeremy p{
        white-space:nowrap;
        margin-top:30px;
        margin-left:10px;
    }

    .image-content{
        display:flex;
        height:133px;
        width: 327px;;
        justify-content:space-between;    
        
    }

    .jcard-content{
        display:flex;
        justify-content:space-around;
        bottom: 5px;
    }
    
    button{
        outline: none;
        cursor: pointer;
        background-color: transparent;
        border: none;
    }
    .jcard-content button p{
        display: inline;
        padding:10px;
        color: var(--text-color-ellipsis);
        font-family:'Rubik', sans-serif;
        font-size: 18px;
        
    }
    .card {
      width: 327px;
      height:160px;
      margin: 10px;
    }

    .hours{
        display:flex;
        justify-content:space-between;
        margin-top: 1px;
    }

    .hours p{
        margin-top:9px;
        font-size:15px;
    }

    .hours span{
        font-size: 32px;
    } */

  }