@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}

:root {
    --background:#0E1323;
    --text-color-ellipsis:#BBC0FF;
    --hours-names:#FFFFFF;
    --hover-color:#33397A;
    --jeremy-button: #1C204B;
    --jeremy-top:#5747EA;
    --jeremy-text:#D8D8D8;
    --work-background: #FF8B64;
    --work-logo:#D96C47;
    --play-background:#55C2E6;
    --play-logo:#3F9CBB;
    --study-background:#FF5E7D;
    --study-logo:#F04667;
    --exercise-background:#4BCF82;
    --exercise-logo:#29BA66;
    --social-background:#7335D2;
    --social-logo:#5A1CBB;
    --self-care-background:#F1C75B;
    --self-care-logo:#E6A532;
}
body{
    background-color: var(--background);
}

.main-div{
    display: flex;
    grid-template-rows: repeat(3, 2fr);
    grid-template-columns: repeat(2, 2fr);
    gap: 1px; 
    margin-left:120px;
    margin-top:90px;
}
.jeremy{
    background-color: var(--jeremy-button);
    border-radius: 20px;
    width: 255px;
    height: 518px;
    margin-top: 30px; 
    margin-left: 180px;
    margin-right: -90px;
 }
.jeremy h2{
    font-family:'Rubik',sans-serif;
    color:#fff;
    margin:1px 25px;
    font-size:35px;
}

.image-content{
    background-color: var(--jeremy-top);
    border-radius: 20px;
    width: 255px;
    height: 354px;
    padding: 15px;  
}

.image-content img{
    outline: var(--hours-names);
    border-radius: 50%;
    outline-style: auto;
    margin: 10px;
    width: 100px;
}

.image-content p{
    margin:40px 0 0 25px;
    color:#fff;
    font-family:'Rubik', sans-serif;
}

.jcard-content{
    padding: 5px;
    margin: 15px;
    font-size: 18px;
}

.jcard-content p{
    padding:10px;
    color: var(--text-color-ellipsis);
    font-family:'Rubik', sans-serif;
}

.jcard-content p:hover{
    color: var(--hours-names);
    cursor: pointer;
}

.card-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 10px;
}

.card {
    position: relative;
    width: 255px;
    height: 244px;
    margin: 20px;
    border-radius: 20px;
    background-color: var(--work-background);
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    overflow: hidden; /* To hide overflow from the .card-content */
  }

.card img {
    width: 75px; 
    height: 60.76px;
    float: right;
    right: 10px;
    z-index:1; 
    position:relative;       
}

.card-content {
    background-color: var(--jeremy-button);
    border-radius: 10px;
    position: relative;
    font-size: 18px;
    z-index: 2;
    cursor: pointer;
    padding: 30px;
    margin-top: 45px;
    height:199px;
    color:#fff;
    transition: background-color 0.3s ease-in-out;  /*Hover effect transition*/   
  }

.card-content:hover{
    background-color: var(--hover-color);
    cursor: pointer;
}

.top{
    display: block;
    font-size: 18px;
}


.top img:hover{
    color: var(--jeremy-text);
}

.card-content img{
    width: 21px;
    height: 5px;
    margin: 5px; 
}

.hours{
    margin-top: 20px;
    padding: 10px;
    font-family: 'Rubik', sans-serif;
}

.hours span{
    font-size: 56px;
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
}

.hours p{
    font-size: 15px;
    font-family: 'Rubik', sans-serif;
    text-transform: capitalize;
}

#wcard{
    background-color: var(--work-background);
}

#pcard{
    background-color: var(--play-background);
}

#scard{
    background-color: var(--study-background);
}

#ecard{
    background-color: var(--exercise-background);
}

#soCard{
    background-color: var(--social-background);
}

#scCard{
    background-color: var(--self-care-background);
}

@media (max-width: 1440px) {
    
    .main-div{
        display: flex;
        grid-template-rows: repeat(3, 2fr);
        grid-template-columns: repeat(2, 2fr);
        gap: 1px; 
        margin-top:90px;
    }
    .jeremy{
        background-color: var(--jeremy-button);
        border-radius: 20px;
        width: 255px;
        height: 518px;
        margin-top: 30px; 
        margin-left: 10px;
        margin-right: -128px;
    }
    .card-container{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin: 9px;
    }
}
/* --------phone------- */

@media (max-width: 768px) and (min-width: 375px) {
    .main-div {
      flex-direction: column;
      justify-content:center;
      align-items:center;
      margin:5px 100px;
      
    }

    .jeremy{
        width:327px;
        height:203px;
        margin:10px;
        text-align:left;
        
    }

    .jeremy h2{
        white-space:nowrap;
        margin-top:50px;
        margin-left:-75px;
        font-size:25px;
        
    }

    .jeremy p{
        white-space:nowrap;
        margin-top:30px;
        margin-left:10px;
    }

    .image-content{
        display:flex;
        height:133px;
        width: 327px;;
        justify-content:space-between;    
        
    }

    .jcard-content{
        display:flex;
        justify-content:space-around;
        bottom: 5px;
        margin-top: -20px;
    }
  
    .card {
      width: 327px;
      height:160px;
      margin: 10px;
    }

    .hours{
        display:flex;
        justify-content:space-between;
        margin-top: 1px;
    }

    .hours p{
        margin-top:9px;
        font-size:15px;
    }

    .hours span{
        font-size: 32px;
    }

  }