@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'IBM Plex Sans ', sans-serif;
}

:root {
    --background:#0E1323;
    --text-color-ellipsis:#BBC0FF;
    --hours-names:#FFFFFF;
    --hover-color:#33397A;
    --jeremy-button: #1C204B;
    --jeremy-top:#5747EA;
    --jeremy-text:#D8D8D8;
    /* --jeremy-top: #1C204B; */
    --work-background: #FF8B64;
    --work-logo:#D96C47;
    --play-background:#55C2E6;
    --play-logo:#3F9CBB;
    --study-background:#FF5E7D;
    --study-logo:#F04667;
    --exercise-background:#4BCF82;
    --exercise-logo:#29BA66;
    --social-background:#7335D2;
    --social-logo:#5A1CBB;
    --self-care-background:#F1C75B;
    --self-care-logo:#E6A532;
}
body{
    background-color: var(--background);
}

.main-div{
    display: flex;
    margin: 10px;
    margin-top: 100px;
    padding: 95px;  
}
.jeremy{
    background-color: var(--jeremy-button);
    border-radius: 20px;
    width: 255px;
    height: 518px;
    margin-top: 30px; 
    margin-left: 90px;
}

.image-content{
    background-color: var(--jeremy-top);
    border-radius: 20px;
    width: 255px;
    height: 354px;
    padding: 15px;
}
.image-content img{
    border-radius: 50%;
    outline: var(--hours-names);
    outline-style: auto;
    margin: 10px;
    width: 100px;
}
.jcard-content{
    padding: 15px;
    margin: 20px;
}

.jcard-content p{
    color: var(--text-color-ellipsis);
}

.jcard-content p:hover{
    color: var(--hours-names);
    cursor: pointer;
}

.card-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 10px;
}

.card{
    background-color: var(--work-background);
    box-shadow: 0px 2px 4px rgba(0,0,0,0.2);
    width: 225px;
    height: 160px;
    border-radius: 20px;
    margin: 20px;
    position: relative;
}
.card img{
    width: 75px;
    height: 60.76px;
    float: right;
    position: absolute;
    right: 10px;
}

.card-content{
    background-color: var(--jeremy-button);
    color: var(--text-color-ellipsis);
    padding: 20px;
    width: 225;
    height: 199px;
    border-radius: 20px;
    margin-top: 50px;
    
}
.card-content:hover{
    background-color: var(--hover-color);
    cursor: pointer;
}

.top{
    display: block;
}

.top img:hover{
    color: var(--jeremy-text);
}

.card-content img{
    width: 21px;
    height: 5px;
    margin: 5px;
}

.hours{
    margin-top: 25px;
    padding: 10px;
}

.hours span{
    font-size: 50px;
}

.hours p{
    font-size: small;
    text-transform: capitalize;
}

#wcard{
    background-color: var(--work-background);
}

#pcard{
    background-color: var(--play-background);
}

#scard{
    background-color: var(--study-background);
}

#ecard{
    background-color: var(--exercise-background);
}

#soCard{
    background-color: var(--social-background);
}

#scCard{
    background-color: var(--self-care-background);
}